.header {
  @apply flex items-center bg-white;
  @apply shadow-md z-50;
  height: var(--header-height);
}

.sticky {
  position: sticky;
  top: 0;
}


.wrapper {
  @apply flex items-center justify-between;
}